.summary-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #02075D;
    height: 150px;
    padding: 16px;
    text-align: center;
    margin: 20px 100px;
}

.summary-size {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.summary-size h2 {
    font-size: 16px;
    color: white;
    font-weight: 400;
    margin: 0px;
}

.summary-size p {
    font-size: 10px;
    color: white;
    font-weight: 300;
    margin: 0px;
}
