.container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    justify-items: center;
    align-content: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;   
}
.container h2{
    text-align: center;
    margin-top: 20px;
    color: #02075D;
    font-weight: 600;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 0px 10px;
    margin: 25px 0px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.card{
    display: flex;
    overflow: hidden;
    margin: 0px;
    border: 1px solid rgba(2, 7, 93, 4.7);
    border-radius: 15px;
    padding: 16px;
    width: 100%; 
    max-width: 220px; 
    height: 100px; 
    align-items: center;
}
.card:hover {
    cursor: pointer;
    background-color: rgba(70, 91, 198, 0.17);
  }
.selected {
    /* border: 1px solid blue; */
    background-color: rgba(70, 91, 198, 0.17);
  }
  
.card img{
    width: 100px;
    height: 60px;
}
.text-content{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.text-content h3 {
    font-size: 25px;
    text-align: left;
    margin-bottom: 0px;
    color: #02075D;
    font-weight: 600;
  }
  
.text-content h4 {
    font-size: 10px;
    text-align: left;
    margin-top: 0px;
    color: #02075D;
    font-weight: 300;
  }

@media screen and (max-width: 438px){
    .container{
        width: 100%;
        /* margin: 0px 20px; */
    }
    .card-container{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
        margin: 20px 20px;
    } 
    .card{
        display: flex;
        overflow: hidden;
        margin: 0px;
        border: 1px solid rgba(2, 7, 93, 4.7);
        border-radius: 10px;
        /* padding: 10px; */
        width: 100%; 
        max-width: 160px; 
        height: 80px; 
        align-items: center;
    }
    .card img{
        width: 50px;
        height: 40px;
    }   
    .text-content h3 {
        font-size: 18px;
      }
      
    .text-content h4 {
        font-size: 7px;
        font-weight: 400;
      }
}