.footer-container {
    margin-top: 100px;
    text-align: center;
  }
  
  .footer-text {
    font-size: 20px;
    font-weight: 500;
    color: #465BC6;
    margin-bottom: 20px;
  }
  
  .footer-line-social {
    display: flex;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  .footer-line {
    flex-grow: 1;
    border-top: 2px solid #465BC6;
  }
  
  .footer-social {
    display: flex;
    gap: 50px;
  }
  
  .footer-social-icon {
    width: 24px;
    height: 24px;
  }
  
  .footer-container-box {
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    background: linear-gradient(to right, #B66FC1, #465BC6);
    padding: 20px;
    border-top-left-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
  }
  
  .footer-item {
    text-align: left;
    margin: 20px;
  }
  
  .footer-item-head {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }
  
  .footer-item-content {
    font-size: 15px;
    font-weight: 100;
    color: #fff;
  }
  
  .footer-vertical-line {
    width: 1px;
    height: 100px;
    background-color: #fff;
    align-self: center;
  }
  
  .footer-copyright {
    font-size: 10px;
    color: #fff;
    font-weight: 100;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 736px) {
    .footer {
      margin-top: 50px;
    }
    .footer-container-box {
        margin-left: 50px;
    }
    .footer-content {
      flex-direction: column;
      align-items: flex-end; /* Align to the right */
    }
    .footer-item {
      text-align: right; /* Align text to the right */
    }
    .footer-vertical-line{
        display: none;
    }
    .footer-copyright p{
        text-align: right;
    }
  }
  @media screen and (max-width: 430px) {
    .footer-line-social {
        display: flex;
        margin-right: 40px;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      
      .footer-line {
        flex-grow: 1;
        border-top: 2px solid #465BC6;
      }
      
      .footer-social {
        display: flex;
        gap: 10px;
      }
      
      .footer-social-icon {
        width: 20px;
        height: 20px;
      }
      
  }
  
  